.todo-form {
    padding: 1rem 0;
    padding-left: 4rem;
    border-bottom: 1px dotted grey;

    #todo-input {
        height: 100%;
        width: 100%;
        border: none;
    }

    #todo-submit {
        height: 100%;
        width: 100%;
    }
}