.todo-item {
    border-bottom: 1px dotted grey;

    &:last-of-type {
        border-bottom: none;
    }

    .completed {
        text-decoration: line-through;
    }

    h3 {
        padding: 1rem;
        margin: 0;

        @media screen and (min-width: 576px) {
            padding-left: 4rem;
            padding-right: 0;
        }
    }

    .todo-item-check {
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #FFF;
        border: none;

        &:hover,
        &:focus {
            border: 1px solid #000;
        }
    }

    .todo-item-delete {
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #FFF;
        border: none;

        &:hover,
        &:focus {
            border: 1px solid #000;
        }
    }
}