#todo-input {
    height: 100%;
    width: 100%;
}

#todo-submit {
    height: 100%;
    width: 100%;
}

.todo-item {
    padding: 1rem 0;

    .completed {
        text-decoration: line-through;
    }
}

.todo-item-check {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    border: none;

    &:hover,
    &:focus {
        border: 1px solid #000;
    }
}

.todo-item-delete {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    border: none;

    &:hover,
    &:focus {
        border: 1px solid #000;
    }
}