.todo-item {
  border-bottom: 1px dotted grey; }
  .todo-item:last-of-type {
    border-bottom: none; }
  .todo-item .completed {
    text-decoration: line-through; }
  .todo-item h3 {
    padding: 1rem 0;
    padding-left: 4rem;
    margin: 0; }
  .todo-item .todo-item-check {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    border: none; }
    .todo-item .todo-item-check:hover, .todo-item .todo-item-check:focus {
      border: 1px solid #000; }
  .todo-item .todo-item-delete {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    border: none; }
    .todo-item .todo-item-delete:hover, .todo-item .todo-item-delete:focus {
      border: 1px solid #000; }

.todo-form {
  border-bottom: 1px dotted grey; }
  .todo-form #todo-input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 1rem 0;
    padding-left: 4rem;
    margin-bottom: 0; }
  .todo-form #todo-submit {
    height: 100%;
    width: 100%; }

#todo-root {
  border: 1px dotted grey; }

.lines {
  position: absolute;
  float: left;
  border-left: 1px solid red;
  border-right: 1px solid red;
  width: 5px;
  height: auto;
  margin-left: 2.5em;
  z-index: 1; }
